@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif
}

:root{
    --Brightorange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);
}

p{
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}
body{
    display: grid;
    min-height: 100vh;
    place-content: center;
}
.everything{
    display: flex;
    height: 500px;
    width: 880px;
}

.card1{
    background: var(--Brightorange);
    border-radius: 5px 0 0 5px;
    padding: 40px;
}

h1{
    margin-top: 30px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color:white;
}
p{
    margin-top: 30px;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
}

.card2{
    background: var(--DarkCyan);
    padding: 40px;
}
.card3{
    background: var(--VeryDarkCyan);
    border-radius: 0 5px 5px 0;
    padding: 40px;
}
button{
    padding: 14px 34px;
    border-radius: 40px;
    border: none;
    margin-top: 45%;
    text-align: center;
}
.btn1{
    color: var(--Brightorange);
}
.btn2{
    color: var(--DarkCyan);
}
.btn3{
    color: var(--VeryDarkCyan);
}

.btn1:hover{
    background-color: var(--Brightorange);
    outline: 1px solid white;
    transition: .4s ease;
    cursor: pointer;
    color: white;
}

.btn2:hover{
    background-color: var(--DarkCyan);
    outline: 1px solid white;
    transition: .4s ease;
    cursor: pointer;
    color: white;
}
.btn3:hover{
    background-color: var(--VeryDarkCyan);
    outline: 1px solid white;
    transition: .4s ease;
    cursor: pointer;
    color: white;
}